Package: libopencv-sfm-dev
Source: opencv
Version: 4.8.0
Architecture: amd64
Maintainer: MRover <rover-software-team@umich.edu>
Installed-Size: 384
Depends: libopencv-core-dev (= 4.8.0), libopencv-sfm408 (= 4.8.0)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://mrover.org
Description: N/A
